<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>Matt Daley - Draft Sharks Technical Task</title>
        <link rel="stylesheet" href="./compiledSCSS.css">
    </head>

<body id="vueProject">

    <div id="app">
        <!-- Dark Mode Toggle -->
        <header>
            <h1><span>{{ selectedTeam }}</span> Team Depth Charts</h1>
            <label class="switch">
                <input type="checkbox" v-model="darkMode" @change="toggleDarkMode">
                <span>Dark Mode</span>
            </label>
        </header>

        <!-- Filters Section -->
        <main>
            <section class="filters">
                <img :src="teamLogo" alt="Team Logo" class="teamLogo">
                <div>
                    <p>Team</p>
                    <select v-model="selectedTeam">
                        <option v-for="team in teams" :key="team">{{ team }}</option>
                    </select>
                </div>

                <div>
                    <p>Position</p>
                    <select v-model="selectedPosition">
                        <option v-for="position in availablePositions" :key="position" :value="position">{{ position || 'All Positions' }}</option>
                    </select>
                </div>
            </section>
            <!-- Depth Chart Grid -->
            <section class="depthChart">
                <div class="toggleWrap">
                    <button @click="toggleOffenseDefense">
                        {{ offenseView ? 'Show Defense' : 'Show Offense' }}
                    </button>
                </div>
                <div v-if="offenseView" class="offense offDef">
                    <h2>Offense</h2>
                    <div class="offDefContent">
                        <div v-for="(players, position) in filteredOffensePlayers" :key="position">
                            <h3>{{ position }}
                                <div class="sortBtns">
                                <button @click="sortPlayers('offense', position, 'asc')">Sort &#11014;</button>
                                <button @click="sortPlayers('offense', position, 'desc')">Sort &#11015;</button>
                                </div>
                            </h3>
                            <ul>
                                <li v-for="player in players" :key="player">{{ player }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div v-else class="defense offDef">
                    <h2>Defense</h2>
                    <div class="offDefContent">
                        <div v-for="(players, position) in filteredDefensePlayers" :key="position">
                            <h3>{{ position }}
                                <div class="sortBtns">
                                    <button @click="sortPlayers('defense', position, 'asc')">Sort &#11014;</button>
                                    <button @click="sortPlayers('defense', position, 'desc')">Sort &#11015;</button>
                                </div>
                            </h3>
                            <ul>
                                <li v-for="player in players" :key="player">{{ player }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <!-- Vue.js CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./dsTechTask.js"></script>
</body>
</html>
